<section class="portfolio-boosto">
  {{#if @isPlaying}}
      <div class="fallout-demo-container">
        <iframe
          src="https://granblue-passage.herokuapp.com/"
          title="Granblue Passage Game Demo"
          class="fallout-demo-frame"
          height="650"
          width="1020"
        >
        </iframe>
      </div>
    {{else}}

      <div class="portfolio-avalon__content">
        <h3>Granblue Passage</h3>
        <p>
          Currently in the process of learning more about Unity and Game Development, I decided to make a
          small little demo of sorts based on an old arcade game but themed after one of my favorite mobile
          games, Granblue Fantasy. This project provided some good lessons in creating reusable scripts and
          working with the interactivity between various object and a central state. Even at such a small
          scale, it's easy to see how the code architecture needs to be kept disciplined in terms of data
          flow or else actions and consequences become difficult to track very quickly.
        </p>
        <div class="portfolio-avalon__options">
          <button
            class="portfolio-boosto__button"
            {{on "click" (fn @playGame @gameId)}}
            type="button"
          >
            Play
          </button>
        </div>
      </div>

    {{/if}}

</section>
