<div class="{{@class}} desktop-interests-virtual-reality">
  <h3>Artificial Intelligence</h3>
  <div class="desktop-interests-virtual-reality__content">
    <p>
      While I was still fresh into my programming journey, one of my dreams was to work on virtual
      reality one day. It's the pinnacle of a gamer's dream to one day become fully immersed in the
      games that they play. I dreamed of the possibilities of the promises that came from companies
      like Magic Leap, Oculus, Valve, and Microsoft.
    </p>
  </div>
</div>