<div class="{{@class}} desktop-interests-virtual-reality">
  <h3>Artificial Intelligence</h3>
  <div class="desktop-interests-virtual-reality__content">
    <p>
      I'd always been fascinated by artificial intelligence, though the more exposure I get to it
      the more I realize how much it will define the next generation of technology. I've been
      fortunate enough to develop an internal application at LinkedIn that allowed users in the
      search relevance team to debug and refine their models, giving me a lot of insight into their
      field.
    </p>
    <p>
      After taking an internal company course on machine learning, I've been inspired to gain a
      better foundation in machine learning by exploring Tensorflow and a JavaScript library for
      neural networks called Synaptic. I hope to be more involved in ML development in the future,
      and am excited to see its applications in big data and games.
    </p>
  </div>
</div>