<div class="{{@class}}">
  <h3>Game Development</h3>
  <div class="desktop-interests-virtual-reality__content">
    <p>
      The reason I originally wanted to be a software developer was because I wanted to be able to
      make games one day, both 2D and 3D. Before, I created a couple of small mini-games for fun
      using CreateJS and Unity.
    </p>
    <p>
      Now I've been working on learning more about Unity and C# scripting, while also exploring more
      engines for indie game developers such as RPG Maker to gain more knowledge about game
      development with their free assets. Once I learn more, I'd like to tackle bigger projects and
      perhaps make a small game one day.
    </p>
  </div>
</div>
{{yield}}
