<div class="{{@class}} desktop-interests-virtual-reality">
  <h3>Continuing Education</h3>
  <div class="desktop-interests-virtual-reality__content">
    <p>
      Despite how far I've come as a self-taught programmer, one thing I've always desired is a
      strong foundation in computer science concepts. Because of this, in my free time I decided to
      return to school in my free time and am currently working on getting a Master's in Computer
      and Information Technology at the University of Pennsylvania.
    </p>
    <p>
      Partially a career move, but mostly out of academic interest, I've taken a number of classes
      through the university towards my degree, and each has been an incredibly valuable experience
      where I got to learn new things, brush up on some old things, and meet amazing people. I'm
      looking to graduate in 2021!
    </p>
  </div>
</div>