<div class="{{@class}} desktop-interests-virtual-reality">
  <h3>Virtual Reality</h3>
  <div class="desktop-interests-virtual-reality__content">
    <p>
      While I was still fresh into my programming journey, one of my dreams was to work on virtual
      reality one day. It's the pinnacle of a gamer's dream to one day become fully immersed in the
      games that they play. I dreamed of the possibilities of the promises that came from companies
      like Magic Leap, Oculus, Valve, and Microsoft.
    </p>
    <p>
      It's been a few years now, and VR/AR/MR haven't quite reached that promised potential, but I
      still see that potential in the horizon. Once the technology further matures and the
      prohibitive entry costs are lowered to become more accessible, I still see limitless
      opportunities to revolutionize so many industries from movies, social media, medical, travel,
      and of course, gaming.
    </p>
    <p>
      I worked on a couple virtual reality apps with people for fun early on in my career, but since
      then focused more on my career. However, after attending the Oculus Connect 6 conference last
      year and seeing how far VR has come, I've been inspired to spend more time exploring VR
      applications and how to build them. Currently, I'm learning Unity and how VR apps on are made
      on the engine. I'm still looking to one day see that immersive virtual world that connects us
      with the experiences that can trascend space.
    </p>
  </div>
</div>
{{yield}}