<section class="about-me about-me--{{this.screenResolution}}">
  <h3 class="about-me__title">About Me</h3>
  <div class="about-me__bio">
    <p>
      I currently work at LinkedIn as a Senior Software Engineer buidling an internal app that helps people
      gain valuable data insights to assist them in making faster and smarter business decisions. I love
      finding new ways to deliver content and develop a unique user experience. I have a strong background in
      Javascript and experience developing applications that allow users to connect and have a shared experience in a
      product. I've worked on the full stack of multiplayer virtual reality gaming, video streaming, mobile social media,
      dynamic data visualization, and more. I love solving puzzles and puzzling algorithms, and outside of the
      "programming job" I enjoy exploring artificial intelligence and machine learning, virtual reality, and game development.
    </p>
    <p>
      My personal dream is to one day see a connected virtual world where people can enjoy immersive experiences together
      in group settings with activities such as games, movies, music, and social media.
    </p>
  </div>
</section>
{{yield}}