<section class="portfolio-intro">
  <h3 class="portfolio-intro__title">Portfolio</h3>
  <div class="portfolio-intro__content">
    <p>
      Most of my personal projects are outdated now, but I'll include some cool highlights here as
      well as new projects that will emerge as I get back into it. I'm also planning on using some
      of this real estate as a personal sandbox for experimenting with different fun projects.
    </p>
  </div>
</section>
<Portfolio::DatahubPanel />
<Portfolio::AvalonPanel />
<Portfolio::ReeltimePanel />
<Portfolio::FalloutTerminal />
{{outlet}}
