.background--secondary5 {
  background-color: get-color(secondary-blue5);
  color: get-color(primary-blue);
}

.background--primary5 {
  background-color: get-color(primary-blue5);
  color: get-color(white);
}

.background--primary {
  background-color: get-color(primary-blue);
  color: get-color(secondary-blue5);
}
